
{% extends "base.html" %}

{% block style %}
    <style>
        .avatar {
            width:256px;
            height:256px;
            border-radius:50%;
            margin-top:20px;
            margin-bottom:40px;
        }
        .greetings {
            font-size: 30px;
            margin-bottom:10px;
            opacity: 0.4;
        }
        .username {
            font-size:22px;
            opacity: 0.6;
        }
    </style>
{% endblock %}


{% block content %}
    <img src="{{ user.img_path }}" class="avatar">
    <p class="greetings">WELCOME </p> 
    <p class="username">{{ user.first_name }} {{ user.second_name }}</p>   
{% endblock %}
